<h2 class="text-center">The fruit shop</h2>

<div class="flex">
    <div id="contact">
        <h3>Contact :</h3>
        <ul>

            <li>
                <a href="#">Facebook</a>
            </li>

            <li>
                <a href="#">Instagram</a>
            </li>

            <li>
                <a href="#">Linkedin</a>
            </li>

            <li>
                <a href="#">Mail</a>
            </li>
        </ul>
    </div>
    <div>
        <h3>Autres liens</h3>
        <ul>

            <li>
                <a href="#">FAQ</a>
            </li>

            <li>
                <a href="#">RGPD</a>
            </li>

            <li>
                <a href="#">Mentions légales</a>
            </li>
        </ul>
    </div>
</div>

<h4 class="text-center">Keller Guillaume @EI-Cnam Grand-est</h4>
<h4 class="text-center">Copyright &copy; 2021-2022</h4>